<!DOCTYPE html>
<html>
<head>
		<title>Ecomm</title>
		<style type="text/css">
		body{
			background-image: url(200.jpg);
			
			background-attachment: fixed;
		}
		
		</style>

</head>
<body>
	<center><h1>About Us</h1></center><br/>
	
		<p>The application should use one form to retrieve and persist the entire domain model. Feel
free to add your own validations as you deem fit to make the application robust. You are
welcome to use any tools provided by rails to implement the functionality.</p>
</body>
</html>