<!DOCTYPE html>
<html>
<head>
		<title>Ecomm</title>
		<style type="text/css">
		body{
			background-image: url(200.jpg);
			
			background-attachment: fixed;
		}
		
		</style>

</head>
<body>
	<center><h1>E-COMMERCE WEBSITE</h1></center><br/>
	
		<%= image_tag("ecom.jpg", width:'1267px', height:'790px') %>
</body>
</html>